body {
    background-color: #EFE6DB;
    font-family: "DM Sans", sans-serif;
    margin: 0;
    font-weight: 600;
}

.input-container {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 700px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    /* pos */
    width: 100%;
    height: 45px;
    padding: 12px 16px;
    box-sizing: border-box;

    /* looks */
    background-color: #46464600;
    border-radius: 999px;
    border: none;
    outline: none;

    /* text stuff */
    color: rgb(0, 0, 0);
    text-align: center;  
    font-size: 35px;
}

/* Submit button */
button[type="submit"] {
    position: static;
    width: 100px;
    height: 35px;

    /* border-radius: 5%; */
    background-color: #555556;
    color: white;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

}
button {
     transition: background-color 0.3s ease;
}
button[type="copy"] {
    
    transition: color 0.3s ease;
    /* base color */
    color: #3f3f3f; 
    position: static;
    
    background-color: #55555600;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

}
button[type="copy"]:hover  {
    color: #888787;

    transition: color 0.3s ease;
}
.poem-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#Poetry {
   font-size: 35px;
   font-weight: 500;
   text-align: center;
   white-space: pre-line;
   color: #252525;
}

.copy-container {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.bottom-container {
    font-weight: 100;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #7a7a7a00;
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    width: 100%;
    align-items: center;
}
#SideNote {
    /* base color */
    white-space: nowrap;
    position: fixed;

    left: 50%;
    bottom: -5px;

    transform: translateX(-50%);

    padding: 8px;
    
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #7e7c7c;
}
button[type="github"]  {
    transition: color 0.3s ease;
    /* base color */
    color: #3f3f3f; 
    position: fixed;
    right: 7px;
    bottom: 7px;

    padding: 8px;
    
   
    background-color: #55555600;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
button[type="github"]:hover  {
    color: #888787;

    transition: color 0.3s ease;
}

button[type="stardance"]  {
      transition: color 0.3s ease;
    /* base color */
    color: #3f3f3f; 
    position: fixed;
    right: 45px;
    bottom: 5px;

    padding: 8px;
    
   
    background-color: #55555600;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
button[type="stardance"] img {
    width: auto;
    height: 30px;

}

hr {
    border: none;
    height: 2px;
    background-color: #555556;
    width: 80%;
    margin: 10px 0;
}

